.header {
  height: 6vh;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
}
.messages_container {
  padding: 10px;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user_message {
  display: flex;
}
.user_message form {
  width: 100%;
}
.user_message input {
  width: 90%;
}
.user_message button {
  width: 10%;
  height: 100%;
  border-radius: 10px;
}
.message {
  color: white;
  padding: 10px;
  border: 1px solid black;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.message_username {
  font-weight: 900;
  font-size: large;
  width: 100%;
  height: max-content;
  margin-bottom: 5px;
}

.message_content {
  width: 100%;
  height: 70%;
  padding-left: 5px;
}

.message_pfp {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 100%;
  margin-right: 7px;
}

.message_right {
  width: 100%;
}
