.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.signup_card {
  margin-bottom: 100px;
  width: 900px;
  border-radius: 35px;
  display: flex;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.signup,
.info {
  width: 50%;
  padding: 30px;
  border-radius: 35px 0px 0px 35px;
  background-color: rgb(205, 227, 255);
}
.info {
  border-radius: 0px 35px 35px 0px;
  background-color: rgb(96, 165, 255);
}
.form_grid {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 10px 10px;
  margin-top: 20px;
}
.signup_btn {
  grid-column: 1 / 2;
}
.login_btn {
  grid-column: 2 / 3;
}
.form_grid label {
  display: flex;
  align-items: center;
}
