* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
input,button {
  width: 100%;
  padding: 8px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 7px;
  background-color: white;
}